<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{manage/layout}" lang="zh">
<head>
    <title>角色管理</title>
</head>
<body>
<th:block th:fragment="retrieveChild(children)">
    <th:block th:each="c:${children}">
        <li th:class="${#lists.isEmpty(c.children) ? 'mdc-list-item':''}">
            <h3 class="mdc-list-group__subheader" th:attr="data-href=${c.url}">[[${c.name}]]</h3>
            <ul class="mdc-list" th:if="not ${#lists.isEmpty(c.children)}"
                th:include="this::retrieveChild(${c.children})"></ul>
        </li>
    </th:block>
</th:block>
<div layout:fragment="main-container" class="main-container">
    <div id="mdc-data-table" class="mdc-data-table__container">
        <div class="search-container">
            <div class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--with-trailing-icon"
                 data-mdc-auto-init="MDCTextField">
                <input type="text" id="name" class="mdc-text-field__input" placeholder="请输入参数Code或名称"
                       autocomplete="off">
                <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">search</i>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
        <div class="operator-container">
            <button class="mdc-button mdc-button--raised" id="refreshBtn">
                <span class="mdc-button__label">刷新</span>
            </button>
            <a class="mdc-button mdc-button--raised" th:href="@{/manage/role}">
                <span class="mdc-button__label">添加</span>
            </a>
            <button class="mdc-button mdc-button--raised" id="editBtn">
                <span class="mdc-button__label">编辑</span>
            </button>
            <button class="mdc-button mdc-button--raised" id="delBtn">
                <span class="mdc-button__label">删除</span>
            </button>
        </div>
    </div>
    <div th:fragment="roles" id="roles">
        <div class="mdc-form-field" th:each="r:${roles}">
            <div class="mdc-checkbox">
                <input type="checkbox"
                       class="mdc-checkbox__native-control"
                       th:id="${'checkbox-'+r.id}"
                       th:value="${r.id}"
                       th:checked="${#lists.contains(withRoles,r.id)?'checked':'false'}"/>
                <div class="mdc-checkbox__background">
                    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path" fill="none"
                              d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
                    </svg>
                    <div class="mdc-checkbox__mixedmark"></div>
                </div>
            </div>
            <label th:for="${'checkbox-'+r.id}" th:text="${r.name}"></label>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript">
      $(function() {
        let mdcDataTable = $('#mdc-data-table').mdcDataTable({
          url: '/manage/role/page',
          queryParams: {},
          container: '#mdc-data-table',
          columns: [
            {
              data: 'name'
            },
            {
              data: 'remark'
            }
          ],
          thead: [
            {
              data: '姓名',
              style: 'mdc-data-table__cell--non-numeric'
            },
            {
              data: '备注',
              style: 'mdc-data-table__cell--non-numeric'
            },
          ],
          // 是否分页
          pagination: true,
          // 页面数据条数
          pageSize: 5,
          // 设置页面可以显示的数据条数
          pageList: [5, 10, 15, 20],
          // 首页页码
          pageNumber: 1,
          editable: false,
          callback: function() {
          }
        });
        $('#refreshBtn').click(function() {
          mdcDataTable.refresh();
        });
        $('#editBtn').click(function() {
          let selectItems = mdcDataTable.getSelectItems();
          if (selectItems.length !== 1) {
            $.alert('请选择一条记录');
            return false;
          }
          window.location.href = '/manage/role/' + selectItems[0].id;
        });
        $('#delBtn').click(function() {
          let selectItems = mdcDataTable.getSelectItems();
          if (selectItems.length < 1) {
            $.alert('请至少选择一条记录');
            return false;
          }
          $.confirm('确认要删除这' + selectItems.length + '条记录么 ?', function() {
            let ids = [];
            selectItems.forEach(function(item) {
              ids.push(item.id);
            });
            $.delete('/manage/role/deleteBatch', {'ids': ids.toString()}, function(res) {
              console.log(JSON.stringify(res));
              $.alert(res.msg);
              let delCount = selectItems.length;
              mdcDataTable.refresh({}, delCount);
            }, function(res) {
              console.log(JSON.stringify(res));
              $.alert(res.msg);
            });
          });
        });
      });
    </script>
</th:block>
</body>
</html>
