<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{manage/layout}" lang="zh">
<head>
    <title>[[${site.title}]]</title>
    <style>
       #mdcTree  ul{
            overflow: hidden;
        }
        /*li {*/
        /*    border: 2px solid;*/
        /*}*/
    </style>
</head>
<body>
<th:block th:fragment="retrieveChild(children)">
    <th:block th:each="c:${children}">
        <li th:class="${#lists.isEmpty(c.children) ? 'mdc-list-item':'mdc-list-item-fix'}" th:attr="data-href=${c.url}">
            <h3 class="mdc-list-group__subheader">[[${c.name}]]</h3>
            <ul class="mdc-list" th:if="not ${#lists.isEmpty(c.children)}"
                th:include="this::retrieveChild(${c.children})"></ul>
        </li>
    </th:block>
</th:block>
<div layout:fragment="main-container" class="main-container">
    <div id="mdcTree"></div>
</div>
<div layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">
      $(function() {
        function Menu(id, pId, name) {
          return {id: id, pId: pId, name: name};
        }

        $('#mdcTree').mdcTree({
          datas: [
            Menu(1, null, '顶级菜单'),
            Menu(2, 1, '一级菜单1-1'),
            Menu(3, 1, '一级菜单1-2'),
            Menu(4, 1, '二级菜单2-1')],
          id: 'id',
          parentId: 'pId',
          label: 'name',
          icon: 'icon'
        });
      });
    </script>
</div>
</body>
</html>
