<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{manage/layout}" lang="zh">
<head>
    <title>[[${site.title}]]</title>
</head>
<body>
<th:block th:fragment="retrieveChild(children)">
    <th:block th:each="c:${children}">
        <li th:class="${#lists.isEmpty(c.children) ? 'mdc-list-item':'mdc-list-item-fix'}" th:attr="data-href=${c.url}">
            <h3 class="mdc-list-group__subheader">[[${c.name}]]</h3>
            <ul class="mdc-list" th:if="not ${#lists.isEmpty(c.children)}"
                th:include="this::retrieveChild(${c.children})"></ul>
        </li>
    </th:block>
</th:block>
<div layout:fragment="main-container" class="main-container">
    <div class="mdc-list-group">
        <h3 class="mdc-list-group__subheader">List 1</h3>
        <ul class="mdc-list">
            <li class="mdc-list-item" tabindex="0">
                <span class="mdc-list-item__text">line item</span>
            </li>
            <li class="mdc-list-item">
                <span class="mdc-list-item__text">line item</span>
            </li>
            <li class="mdc-list-item">
                <span class="mdc-list-item__text">line item</span>
            </li>
        </ul>
        <h3 class="mdc-list-group__subheader">List 2</h3>
        <ul class="mdc-list">
            <li class="mdc-list-item">
                <span class="mdc-list-item__text">line item</span>
            </li>
            <li class="mdc-list-item">
                <span class="mdc-list-item__text">line item</span>
            </li>
            <li class="mdc-list-item">
                <span class="mdc-list-item__text">line item</span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
