<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{base_layout}" lang="zh">
<head>
    <title>layout</title>
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="shortcut icon" href="https://www.thymeleaf.org/doc/images/favicon.ico" type="image/x-icon"/>
    <script src="/script/utils/common-util.js"></script>
    <script src="/libs/material-components-web/material-components-web.min.js"></script>
    <link href="/libs/material-components-web/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/libs/material-components-web/material-icons.css">
    <link rel="stylesheet" href="/style/manage/layout.css">
</head>
<body layout:fragment="container">
<div class="container">
    <div>
        导航栏
    </div>
    <div class="left-side mdc-menu">
        <th:block th:each="m:${menus}" th:inline="text">
            <h3 class="mdc-list-group__subheader">[[${m.name}]]</h3>
            <ul class="mdc-list" th:if="not ${#lists.isEmpty(m.children)}"
                th:include="this::retrieveChild(${m.children})">
            </ul>
        </th:block>
    </div>
    <th:block th:fragment="retrieveChild(children)">
        <th:block th:each="c:${children}">
            <li th:class="${#lists.isEmpty(c.children) ? 'mdc-list-item':''}">
                <h3 class="mdc-list-group__subheader">[[${c.name}]]</h3>
                <ul class="mdc-list" th:if="not ${#lists.isEmpty(c.children)}"
                    th:include="this::retrieveChild(${c.children})"></ul>
            </li>
        </th:block>
    </th:block>
</div>
</body>
<th:block layout:fragment="common-script">
    <script type="text/javascript">
      $(function() {
        $.collapse('.left-side.mdc-menu');
        // TODO-WARN: 自动选择菜单
        // var url = location.href.substr(location.origin.length);
        // url = url.endsWith('#') ? url.substr(0, url.length - 1) : url;
        // var activeMenu = $('a[href="' + url + '"]');
        // activeMenu.parents('ul').prev('a')[0].click();
        // activeMenu.addClass('active-menu');
      });
    </script>
</th:block>
</html>
