# ---> Java
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
logs
/**/TestController.java
src/main/resources/templates/manage/test.html
src/main/resources/config
/**/resources/config
*.iml
classes/
target
.idea
node_modules
package-lock.json



