body {
    overflow-y: hidden;
    height: 100%;
}

.header {
    height: 50px;
    min-height: 50px;
    overflow: hidden;
}

.container {
    display: flex;
    height: calc(100% - 50px);
    border: 1px solid #666;
}

.left-side {
    float: left;
    max-width: 300px;
    min-width: 220px;
    width: 220px;
    height: 100%;
    border: 1px solid #666;
}

.main-content {
    float: right;
    /*width: calc(100% - 220px);*/
    overflow-y: scroll;
    height: 100%;
    border: 1px solid #666;
}

