html, body, div {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
}

.mdc-drawer-fixed {
    border-color: rgba(0, 0, 0, .12);
    background-color: #fff;
    border-radius: 0 0 0 0;
    z-index: 6;
    width: 256px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100%;
    transition-property: -webkit-transform;
    transition-property: transform, -webkit-transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border-right-width: 1px;
    border-right-style: solid;
    overflow: hidden;
    overflow-y: auto;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.main-container {
    padding: 0 16px;
    min-width: 990px;
}

.app-bar {
    position: absolute;
}

.mdc-top-app-bar {
    z-index: 7;
}


.mdc-list-item-fix {
    position: relative;
    align-items: center;
    justify-content: flex-start;
    line-height: 48px;
    padding: 0 16px;
    overflow: hidden;
}

.mdc-list-group__subheader {
    margin-block-start: 0;
    margin-block-end: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 48px;
}

/*TODO-WARN: 替换最新 mdc table 样式,目前官方还未实现该组件 */

/* material component web table */
.mdc-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mdc-data-table {
    width: 100%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    background-color: rgb(255, 255, 255);
}

.mdc-data-table__container > div {
    margin: 16px auto;
}

.mdc-data-table td:first-of-type, .mdc-data-table th:first-of-type {
    padding-left: 24px;
}

.mdc-data-table__cell--non-numeric.mdc-data-table__cell--non-numeric {
    text-align: left;
}

.mdc-data-table th {
    position: relative;
    text-overflow: ellipsis;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0;
    height: 48px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.87);
    padding-bottom: 8px;
    box-sizing: border-box;
}

.mdc-data-table td, .mdc-data-table th {
    padding: 12px 18px;
    text-align: right;
}

.mdc-data-table .thead-fixed th {
    padding-top: 8px;
    vertical-align: middle;
}

.mdc-data-table tbody tr.is-selected {
    background-color: #e0e0e0;
}

.mdc-data-table tbody tr:hover {
    background-color: #eee;
}

.pagination-container {
    display: flex;
}

.pagination-container ul {
    float: right;
}

.pagination-container .count {
    flex: 1;
}

.pagination-container ul {
    float: right;
}

.pagination-container ul li {
    list-style: none;
    float: left;
    margin-left: 1px;
}

.pagination-container ul li:first-of-type button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.pagination-container ul li:last-of-type button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination-container ul li:not(:first-of-type):not(:last-of-type) button {
    border-radius: 0;
}


/* material component web table */


/* custom */
.mdc-panel__margin-8 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mdc-panel__margin-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mdc-panel__padding-8 {
    padding: 8px;
}

.mdc-panel__padding-16 {
    padding: 16px;
}

.mdc-text-field-row {
    width: 100%;
}

.mdc-text-field-row {
    min-width: 250px;
}

.mdc-text__align-left {
    text-align: left;
}

.mdc-text__align-center {
    text-align: center;
}

.mdc-text__align-right {
    text-align: right;
}

.form-container {
    width: 85%;
    margin: 72px auto 0;
}

/* custom */

