<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{manage/layout}" lang="zh">
<head>
    <title>[[${site.title}]]</title>
</head>
<body>
<th:block th:fragment="retrieveChild(children)">
    <th:block th:each="c:${children}">
        <li>
            <a th:attr="_href=${c.url},href=not ${#lists.isEmpty(c.children)}?'javascript:void(0)':${c.url}">
                <i class="iconfont">&#xe6a7;</i>
                <cite th:text="${c.name}"></cite>
                <i th:if="not ${#lists.isEmpty(c.children)}" class="iconfont nav_right">&#xe697;</i>
            </a>
            <ul class="sub-menu" th:if="not ${#lists.isEmpty(c.children)}"
                th:include="this::retrieveChild(${c.children})"></ul>
        </li>
    </th:block>
</th:block>
<div layout:fragment="content" class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home"><i class="layui-icon layui-icon-home"></i>首页</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/manage/welcome' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
    </div>
    <div class="page-content-bg"></div>
    <div class="footer">
        <div class="copyright" th:inline="text">[[${site.copyright}]]</div>
    </div>
</div>
<div layout:fragment="script">
    <script th:inline="javascript">
      // <![CDATA[
      var menus = /*[[${menus}]]*/;
      // ]]>
      window.onload = function() {
        $('#nav li:eq(0)').click();
      };

    </script>
</div>
</body>
</html>
