<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{manage/layout}" lang="zh">
<head>
    <title>组织岗位管理</title>
</head>
<body>
<th:block th:fragment="retrieveChild(children)">
    <th:block th:each="c:${children}">
        <li th:class="${#lists.isEmpty(c.children) ? 'mdc-list-item':''}" th:attr="data-href=${c.url}">
            <h3 class="mdc-list-group__subheader">[[${c.name}]]</h3>
            <ul class="mdc-list" th:if="not ${#lists.isEmpty(c.children)}"
                th:include="this::retrieveChild(${c.children})"></ul>
        </li>
    </th:block>
</th:block>
<div layout:fragment="main-container" class="main-container">
    <div class="form-container mdc-layout-grid">
        <form id="form" class="mdc-card mdc-panel__padding-16" onsubmit="void(0);">
            <input th:if="${_csrf!=null}" type="hidden"
                   th:name="${_csrf.parameterName}"
                   id="_csrf"
                   th:value="${_csrf.token}"/>
            <h2 class="mdc-typography mdc-typography--headline5 mdc-text__align-center" th:inline="text">
                [[${post ne null?'修改':'添加'}]]组织岗位
            </h2>
            <div class="mdc-layout-grid__inner mdc-panel__margin-16 mdc-form-field">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6" tabindex="0">
                    <!--所属组织-->
                    <div class="mdc-select mdc-select--disabled select-width-fixed" data-mdc-auto-init="MDCSelect">
                        <input type="hidden" name="organizeId" required data-validtip="所属组织不能为空">
                        <i class="mdc-select__dropdown-icon"></i>
                        <!-- 预选 -->
                        <div class="mdc-select__selected-text"
                             th:text="${organize.name}"
                             th:data-value="${organize.id}"></div>
                        <div class="mdc-select__menu mdc-menu mdc-menu-surface select-width-fixed">
                            <ul class="mdc-list">
                                <li class="mdc-list-item mdc-list-item--selected"
                                    th:data-value="${organize.id}"
                                    th:text="${organize.name}"></li>
                            </ul>
                        </div>
                        <span class="mdc-floating-label mdc-floating-label--float-above">所属组织</span>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <!--名称-->
                    <div class="mdc-panel__margin-16">
                        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field-row"
                             data-mdc-auto-init="MDCTextField">
                            <input type="text" id="nameInput" name="name" class="mdc-text-field__input"
                                   maxlength="20"
                                   required
                                   data-validtip="名称不能为空,且小于20个字符"
                                   autocomplete="off"
                                   placeholder="请输入名称"
                                   th:value="${post ne null?post.name:''}">
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label for="nameInput" class="mdc-floating-label">名称</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                        <div class="mdc-text-field-helper-line">
                            <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                *必填</p>
                            <div class="mdc-text-field-character-counter">0 / 20</div>
                        </div>
                    </div>
                    <!--数据权限-->
                    <div class="mdc-select select-width-fixed" data-mdc-auto-init="MDCSelect">
                        <input type="hidden" name="dataAccess" required data-validtip="请指定数据权限">
                        <i class="mdc-select__dropdown-icon"></i>
                        <!-- 预选 -->
                        <div class="mdc-select__selected-text"
                             th:text="${post ne null and post.dataAccess ne null ? post.dataAccess :'请选择数据权限'}"
                             th:data-value="${post ne null and post.dataAccess ne null ? post.dataAccess :'-1'}"></div>
                        <div class="mdc-select__menu mdc-menu mdc-menu-surface select-width-fixed">
                            <ul class="mdc-list">
                                <li th:class="|mdc-list-item${id eq null ? ' mdc-list-item--selected':''}|"
                                    data-value="-1"
                                    th:text="请选择数据权限"></li>
                                <li th:each="da:${dataAccesses}"
                                    th:class="|mdc-list-item${post ne null and da.key eq post.dataAccess ? ' mdc-list-item--selected':''}|"
                                    th:data-value="${da.key}"
                                    th:text="${da.value}"></li>
                            </ul>
                        </div>
                        <span class="mdc-floating-label mdc-floating-label--float-above">请选择数据权限</span>
                        <div class="mdc-line-ripple"></div>
                    </div>
                    <!--备注-->
                    <div class="mdc-panel__margin-16">
                        <div class="mdc-text-field mdc-text-field--textarea mdc-text-field-row"
                             data-mdc-auto-init="MDCTextField">
                            <div class="mdc-text-field-character-counter">0 / 250</div>
                            <textarea id="remarkInput" name="remark"
                                      class="mdc-text-field__input"
                                      rows="4" cols="40"
                                      maxlength="250" placeholder="请输入备注"
                                      th:text="${post ne null?post.remark:''}"
                                      th:value="${post ne null?post.remark:''}"></textarea>
                            <div class="mdc-notched-outline">
                                <div class="mdc-notched-outline__leading"></div>
                                <div class="mdc-notched-outline__notch">
                                    <label for="remarkInput" class="mdc-floating-label">备注</label>
                                </div>
                                <div class="mdc-notched-outline__trailing"></div>
                            </div>
                        </div>
                    </div>
                    <!--操作-->
                    <div class="mdc-layout-grid__inner mdc-card__action-buttons">
                        <a href="/manage/post/index"
                           class="mdc-button mdc-layout-grid__cell mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-phone mdc-layout-grid__cell--span-4-desktop  mdc-card__action mdc-button--raised mdc-ripple-upgraded">
                            返回
                        </a>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4"></div>
                        <button id="editBtn"
                                class="mdc-button mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-phone mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell mdc-button--raised mdc-ripple-upgraded"
                                th:inline="text">
                            [[${post eq null ? '添加':'更新'}]]
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">
      $(function() {
        let id = [[${post ne null ? post.id:''}]];
        // 初始化input计数器
        new mdc.textField.MDCTextFieldCharacterCounter(document.querySelector('.mdc-text-field-character-counter'));

        // 提交表单
        $('#editBtn').on('click', function() {
          let $form = $('#form');
          let data = {};
          $form.serializeArray().forEach(function(item) {
            data[item.name] = item.value;
          });
          let selects = $('.mdc-select input[name]');
          for (let i = 0; i < selects.length; i++) {
            let $input = $(selects[i]);
            let value = $input.val();
            let validTip = $input.attr('data-validtip');
            if (!value || Number(value) < 0) {
              $.alert(validTip, function() {
                $input.siblings('.mdc-select__selected-text').trigger('click');
              });
              return false;
            }
          }

          let textFields = document.querySelectorAll('.mdc-text-field');
          for (let i = 0; i < textFields.length; i++) {
            console.log(i, textFields[i]);
            let $input = $(new mdc.textField.MDCTextField(textFields[i]).input_);
            let value = $input.val();
            let required = Boolean($input.prop('required'));
            let minLength = $input.attr('minlength');
            let maxLength = $input.attr('maxlength');
            let validTip = $input.attr('data-validtip');
            let pattern = $input.attr('data-pattern');
            if (!$.valid(value, !required, minLength, maxLength, validTip || '参数校验失败', pattern)) {
              $input.focus();
              return false;
            }
          }
          data.organizeId = $('input[name=organizeId]').val();
          console.log(JSON.stringify(data));
          id > 0 ?
              $.put('/manage/post/' + id, data, function(res) {
                res.result === true ? $.alert(res.msg, function() {
                  window.location.href = '/manage/post/index';
                }) : $.alert(res.msg);
              }) : $.post('/manage/post', data, function(res) {
                res.result === true ? $.alert(res.msg, function() {
                  window.location.href = '/manage/post/index';
                }) : $.alert(res.msg);
              });
          return false;
        });
      });
    </script>
</div>
</body>
</html>
