<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{manage/layout}" lang="zh">
<head>
    <title>系统配置配置</title>
    <style>
        .select-type {
            width: 400px;
        }
    </style>
</head>
<body>
<th:block th:fragment="retrieveChild(children)">
    <th:block th:each="c:${children}">
        <li th:class="${#lists.isEmpty(c.children) ? 'mdc-list-item':''}" th:attr="data-href=${c.url}">
            <h3 class="mdc-list-group__subheader">[[${c.name}]]</h3>
            <ul class="mdc-list" th:if="not ${#lists.isEmpty(c.children)}"
                th:include="this::retrieveChild(${c.children})"></ul>
        </li>
    </th:block>
</th:block>
<div layout:fragment="main-container" class="main-container">
    <div id="mdc-data-table" class="mdc-data-table__container">
        <div class="search-container">
            <div class="mdc-text-field mdc-text-field--fullwidth mdc-text-field--with-trailing-icon"
                 data-mdc-auto-init="MDCTextField">
                <input type="text" id="name" class="mdc-text-field__input" placeholder="请输入参数Code或名称"
                       autocomplete="off">
                <i class="material-icons mdc-text-field__icon" tabindex="0" role="button">search</i>
                <div class="mdc-line-ripple"></div>
            </div>
            <!--        <button class="mdc-button mdc-button&#45;&#45;raised" onclick="search(this);">-->
            <!--            <i class="material-icons mdc-button__icon" aria-hidden="true">search</i>-->
            <!--            <span class="mdc-button__label">搜索</span>-->
            <!--        </button>-->
            <!--字典分类-->
            <div class="mdc-select select-type">
                <input type="hidden" name="enhanced-select">
                <i class="mdc-select__dropdown-icon"></i>
                <!-- 预选第一个 -->
                <div class="mdc-select__selected-text" data-value="-1">全部</div>
                <div class="mdc-select__menu mdc-menu mdc-menu-surface select-type">
                    <ul class="mdc-list">
                        <li class="mdc-list-item mdc-list-item--selected" data-value="-1">全部</li>
                        <li class="mdc-list-item"
                            th:each="type,stat:${types}"
                            th:data-value="${type.id}"
                            th:text="${type.name}"></li>
                    </ul>
                </div>
                <span class="mdc-floating-label mdc-floating-label--float-above">请选择分类</span>
                <div class="mdc-line-ripple"></div>
            </div>
        </div>
        <div class="operator-container">
            <button class="mdc-button mdc-button--raised" id="refreshBtn">
                <span class="mdc-button__label">刷新</span>
            </button>
            <a class="mdc-button mdc-button--raised" th:href="@{/manage/dataDict}"
               sec:authorize="hasAnyAuthority('global:create','dataDict:create')">
                <span class="mdc-button__label">添加</span>
            </a>
            <button class="mdc-button mdc-button--raised" id="editBtn"
                    sec:authorize="hasAnyAuthority('global:write','dataDict:write')">
                <span class="mdc-button__label">编辑</span>
            </button>
            <button class="mdc-button mdc-button--raised" id="delBtn"
                    sec:authorize="hasAnyAuthority('global:delete','dataDict:delete')">
                <span class="mdc-button__label">删除</span>
            </button>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script type="text/javascript">
      $(function() {
        // 自动注册 data-mdc-auto-init 元素
        mdc.autoInit();
        const select = new mdc.select.MDCSelect(document.querySelector('.mdc-select'));
        // 下拉选中更新表格
        select.listen('MDCSelect:change', () => {
          mdcDataTable.refresh({
            typeId: select.value
          });
        });
        // 表格初始化
        let mdcDataTable = $('#mdc-data-table').mdcDataTable({
          url: '/manage/dataDict/page',
          queryParams: {},
          container: '#mdc-data-table',
          columns: [
            {
              data: 'code'
            },
            {
              data: 'name'
            },
            {
              data: 'dataDictTypeName'
            },
            {
              data: 'remark'
            }
          ],
          thead: [
            {
              data: 'CODE',
              style: 'mdc-data-table__cell--non-numeric'
              // width: '60px'
            },
            {
              data: 'NAME',
              style: 'mdc-data-table__cell--non-numeric'
              // width: '60px'
            },
            {
              data: '分类',
              style: 'mdc-data-table__cell--non-numeric'
              // width: '60px'
            },
            {
              data: '备注',
              style: 'mdc-data-table__cell--non-numeric'
              // width: '60px'
            }
          ],
          // 是否分页
          pagination: true,
          // 页面数据条数
          pageSize: 5,
          // 设置页面可以显示的数据条数
          pageList: [5, 10, 15, 20],
          // 首页页码
          pageNumber: 1,
          editable: false,
          callback: function() {
          }
        });
        // 刷新
        $('#refreshBtn').click(function() {
          mdcDataTable.refresh();
        });
        // 编辑
        $('#editBtn').click(function() {
          let selectItems = mdcDataTable.getSelectItems();
          if (selectItems.length !== 1) {
            $.alert('请选择一条记录');
            return false;
          }
          window.location.href = '/manage/dataDict/' + selectItems[0].id;
        });
        // 删除
        $('#delBtn').click(function() {
          let selectItems = mdcDataTable.getSelectItems();
          if (selectItems.length < 1) {
            $.alert('请至少选择一条记录');
            return false;
          }
          console.debug(selectItems);
          $.confirm('确认要删除这' + selectItems.length + '条记录么 ?', function() {
            let ids = [];
            selectItems.forEach(function(item) {
              ids.push(item.id);
            });
            $.delete('/manage/dataDict/deleteBatch', {'ids': ids.toString()}, function(res) {
              console.log(JSON.stringify(res));
              $.alert(res.msg);
              let delCount = selectItems.length;
              mdcDataTable.refresh({}, delCount);
            }, function(res) {
              console.log(JSON.stringify(res));
              $.alert(res.msg);
            });
          });
        });
      });
    </script>
</th:block>
</body>
</html>
