<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{manage/layout}" lang="zh">
<head>
    <title>测试页面</title>
    <link rel="stylesheet" href="/libs/editormd/css/editormd.css"/>
    <script src="/libs/editormd/editormd.js"></script>
    <script src="/libs/editormd/lib/zepto.min.js"></script>
    <style rel="stylesheet">
        li {
            list-style: inherit;
        }

        .main-container {
            height: calc(100% - 16px);
            overflow-y: hidden;
        }
    </style>
</head>
<body>
<div layout:fragment="main-container" class="main-container">

</div>
<div layout:fragment="script">
    <script type="text/javascript" th:inline="javascript">
      $(function() {
        let editor = editormd('test-editor', {
          width: '100%',
          // markdown: '这里是显示的内容',
          height: 'calc(100% - 24px)',
          // autoHeight : true,
          path: '/libs/editormd/lib/',
          codeFold: true,
          htmlDecode: 'style,script,iframe|on*',
          sequenceDiagram: true,
          imageUpload: true,
          imageUploadMsgHandler: function(res) {
            return {
              success: res.result === true ? 0 : 1,
              url: res.data,
              message: res.msg,
            };
          },
          imageFormats: ['jpg', 'jpeg', 'gif', 'png', 'bmp', 'webp'],
          imageUploadURL: '/upload/uploadFile',
          // onload : function() {
          //   console.log("onload =>", this, this.id, this.settings);
          // }
        });
      });
    </script>
</div>
</body>
</html>
