<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Welcome to Ramer's Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/style/error_page.css}"/>
</head>
<body>
<div class="wrap">
    <div class="logo">
        <p>Welcome to Ramer's Blog, 😉😉😉</p>
        <div th:each="article:${articles}">
            <h3 th:text="${article.title}"></h3>
            <p th:text="${article.content}"></p>
        </div>
    </div>
</div>
</body>
</html>