<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{manage/layout}">
<head>
    <title>添加系统配置</title>
</head>
<body>
<th:block th:fragment="retrieveChild(children)">
    <th:block th:each="c:${children}">
        <li th:class="${#lists.isEmpty(c.children) ? 'mdc-list-item':''}">
            <h3 class="mdc-list-group__subheader" th:attr="data-href=${c.url}">[[${c.name}]]</h3>
            <ul class="mdc-list" th:if="not ${#lists.isEmpty(c.children)}"
                th:include="this::retrieveChild(${c.children})"></ul>
        </li>
    </th:block>
</th:block>
<div layout:fragment="main-container" class="main-container">
    <div class="mdc-card form-container">
        <h2 class="mdc-typography mdc-typography--headline5 mdc-text__align-center">添加参数配置</h2>
        <div class="mdc-card__primary-actions" tabindex="0">
            <form class="mdc-layout-grid">
                <input th:if="${_csrf!=null}" type="hidden"
                       th:name="${_csrf.parameterName}"
                       id="_csrf"
                       th:value="${_csrf.token}"/>
                <div class="mdc-layout-grid__inner mdc-panel__margin-16">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                        <div class="text-field-container">
                            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field-row"
                                 data-mdc-auto-init="MDCTextField">
                                <input type="text" id="codeInput" name="code" class="mdc-text-field__input"
                                       maxlength="20"
                                       autocomplete="off">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label for="codeInput" class="mdc-floating-label">请输入CODE</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <div class="mdc-text-field-helper-line">
                                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                    *必填</p>
                                <div class="mdc-text-field-character-counter">0 / 20</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__inner mdc-panel__margin-16">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                        <div class="text-field-container">
                            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field-row"
                                 data-mdc-auto-init="MDCTextField">
                                <input type="text" id="nameInput" name="name" class="mdc-text-field__input"
                                       maxlength="20"
                                       autocomplete="off">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label for="nameInput" class="mdc-floating-label">请输入名称</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <div class="mdc-text-field-helper-line">
                                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                    *必填</p>
                                <div class="mdc-text-field-character-counter">0 / 20</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__inner mdc-panel__margin-16">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                        <div class="text-field-container">
                            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field-row"
                                 data-mdc-auto-init="MDCTextField">
                                <input type="text" id="valInput" name="value" class="mdc-text-field__input"
                                       maxlength="20"
                                       autocomplete="off">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label for="valInput" class="mdc-floating-label">请输入值</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <div class="mdc-text-field-helper-line">
                                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                    *必填</p>
                                <div class="mdc-text-field-character-counter">0 / 20</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__inner mdc-panel__margin-16">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                        <div class="text-field-container">
                            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field-row"
                                 data-mdc-auto-init="MDCTextField">
                                <input type="text" id="remarkInput" name="remark" class="mdc-text-field__input"
                                       maxlength="20"
                                       autocomplete="off">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label for="remarkInput" class="mdc-floating-label">请输入备注</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <div class="mdc-text-field-helper-line">
                                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                    *必填</p>
                                <div class="mdc-text-field-character-counter">0 / 20</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__inner mdc-card__actions">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3"></div>
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid--align-right mdc-card__action-buttons">
                        <button class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">
                            增加
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="form-container">
        <h2 class="mdc-typography mdc-typography--headline5 mdc-text__align-center">添加参数配置</h2>
        <form class="mdc-layout-grid mdc-panel__padding-16">
            <div class="mdc-layout-grid__inner mdc-panel__margin-16">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4"></div>
                <div class="mdc-card mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
                    <div class="mdc-card__primary-actions" tabindex="0">
                        <div class="text-field-container">
                            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field-row"
                                 data-mdc-auto-init="MDCTextField">
                                <input type="text" id="codeInput" name="code" class="mdc-text-field__input"
                                       maxlength="20"
                                       autocomplete="off">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label for="codeInput" class="mdc-floating-label">请输入CODE</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <div class="mdc-text-field-helper-line">
                                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                    *必填</p>
                                <div class="mdc-text-field-character-counter">0 / 20</div>
                            </div>
                        </div>
                        <div class="text-field-container">
                            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field-row"
                                 data-mdc-auto-init="MDCTextField">
                                <input type="text" id="nameInput" name="name" class="mdc-text-field__input"
                                       maxlength="20"
                                       autocomplete="off">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label for="nameInput" class="mdc-floating-label">请输入名称</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <div class="mdc-text-field-helper-line">
                                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                    *必填</p>
                                <div class="mdc-text-field-character-counter">0 / 20</div>
                            </div>
                        </div>
                        <div class="text-field-container">
                            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field-row"
                                 data-mdc-auto-init="MDCTextField">
                                <input type="text" id="valInput" name="value" class="mdc-text-field__input"
                                       maxlength="20"
                                       autocomplete="off">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label for="valInput" class="mdc-floating-label">请输入值</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <div class="mdc-text-field-helper-line">
                                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                    *必填</p>
                                <div class="mdc-text-field-character-counter">0 / 20</div>
                            </div>
                        </div>
                        <div class="text-field-container">
                            <div class="mdc-text-field mdc-text-field--outlined mdc-text-field-row"
                                 data-mdc-auto-init="MDCTextField">
                                <input type="text" id="remarkInput" name="remark" class="mdc-text-field__input"
                                       maxlength="20"
                                       autocomplete="off">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label for="remarkInput" class="mdc-floating-label">请输入备注</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>
                            <div class="mdc-text-field-helper-line">
                                <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">
                                    *必填</p>
                                <div class="mdc-text-field-character-counter">0 / 20</div>
                            </div>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid--align-right mdc-card__action-buttons">
                            <button class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">
                                增加
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div layout:fragment="script">
    <script type="text/javascript">
      $(function() {
        new mdc.textField.MDCTextFieldCharacterCounter(document.querySelector('.mdc-text-field-character-counter'));
      });
    </script>
</div>
</body>

</html>
